### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### INDESIGN ###
*.idlk

*.zip
005*/
export*/
file*/
test*/
modele*/
*.ai
*.indd
*.ttf
*.woff
*.woff2
*.svg
*.idml
*.html
*.lst
*.dfont
*.eot
*.ttc
*.css
*.xls*
*.doc*

data.json

node_modules/*
